button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0 -5px 0 inset, rgba(100, 100, 111, 0.2) 0 5px 10px 0;
    border: none;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(139, 0, 0, 0.5);
}

button span {
    margin-top: 10px;
    font-weight: 300;
}

button .button-icon {
    font-size: 100px;
    margin-top: 10px;
}

button:disabled {
    background-color: #E6DBAC;
    color: white;
}

button:disabled:hover {
    background-color: #E6DBAC;
    color: white;
}

button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0 -2px 0 inset;
    background-color: #B22222;
}

button:hover span {
    margin-top: 15px;
}

button:hover .button-icon {
    margin-top: 15px;
}

button:active {
    box-shadow: rgba(100, 100, 111, 0.2) 0 3px 7px inset;
}

button:active span {
    margin-top: 17px;
}

button:active .button-icon {
    margin-top: 18px;
}

.small .button-icon {
    font-size: 30px;
}

.small {
    height: 30px;
    width: 100px;
}

.small span {
    margin-top: 5px;
    font-weight: 500;
}

.small:hover span {
    margin-top: 10px;
}

.small:active span {
    margin-top: 12px;
}

.small .button-icon {
    margin-top: 5px;
}

.small:hover .button-icon {
    margin-top: 10px;
}

.small:active .button-icon {
    margin-top: 12px;
}

.medium {
    height: 50px;
    width: 200px;
}

.medium span {
    font-weight: 500;
}


