.book-list-container {
    padding: 20px;
}

.search-sort-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-card {
    background-color: #f4f4f4;
    cursor: pointer;
    /*border-radius: 5px;*/
    transition: background-color 0.3s;
}

.book-card:hover {
    background-color: #e0e0e0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.modal-content button {
    margin-top: 20px;
}

