.footer-outer-container {
    align-items: flex-end;
    padding-top: 425px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-inner-container {
    display: flex;
    height: 50px;
    text-align: center;
    color: white;
    justify-content: center;
    background-color: #000000;
}

/*code van een eerder gemaakte opdracht*/

/*position: fixed;*/
/*background-color: #DC143C;*/
/*height: 50px;*/
/*width: 100%;*/
/*bottom: 0;*/
/*text-align: center;*/
